*{
    list-style: none;
    text-decoration: none;
    padding: 0;
}

/** Navegacion **/

nav{
    padding: 0 5%;
}

.menu{
    display: flex;
    -ms-flex-flow: row;
    justify-content: space-between;
}

/** Cuerpo del sitio **/
.body{
    padding: 0 5%;
}

.contenedor{
    display: flex;
    -ms-flex-flow: row;
    justify-content: space-between;
}

main{
    text-align: center;
}

/** Footer **/

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10%;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}