:root{
    --primario: #617A55;
    --secundario: #A4D0A4;
    --terciario: #ffcc73;
    --cuarto: #FFF8D6;
    --gris: #3B3B3B;
    --blanco: #FFFFFF;
    --negro: #1E1E1E;
    --gris_claro: #f1f1f1;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;/*1rem =10px*/
    background-color: var(--gris_claro);
}

*, *::before, *::after{
    box-sizing: inherit;
    font-family: 'Raleway', sans-serif;
}

/** Globales **/

.container{
    max-width: 180rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    display: block;
}

h1, h2, h3{
    font-weight: 900;
}

h1{
    font-size: 4.4rem;
}

@media (min-width: 768px) {
    h1{
        font-size: 5rem;
    }
}

h2{
    font-size: 3.6rem;
}

@media (min-width: 768px) {
    h2{
        font-size: 4rem;
    }
}

h3{
    font-size: 2.8rem;
}

@media (min-width: 768px) {
    h3{
        font: 2.8rem;
    }
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

a{
    text-decoration: none;
    color: var(--primario);
    font-size: 2.3rem;
}

p{
    font-size: 2.3rem;
}

.btn{
    background-color: var(--secundario);
    display: block;
    color: #fff;
    text-transform: capitalize;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
    border: none;
    width: 100%;
}

/** Utilidades **/

.superior{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

@media (max-width: 768px) {
    .superior{
        display: inline-block;
        align-items: center;
        padding: 1rem 0rem;
    }

    .superior h4{
        font-size: 0.4rem;
    }
}

.contact-sup{
    display: flex;
}

.contact-sup h4{
    padding: 0 2rem; 
}

.text-center{
    text-align: center;
}

/** Header y navegacion **/

.nombre-sitio{
    text-align: center;
    color: var(--primario);
}

.nombre-sitio span{
    color: var(--terciario);
}

.contenedor-nav{
    padding: 2rem;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--primario);
    border-bottom: 1px solid var(--primario);
    padding:  2rem;
}

@media (min-width: 769px) {
    .menu{
        flex-direction: row;
        justify-content: space-between;
    }
}

/** Main content **/

.main{
    margin-top: 2rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

@media (min-width: 900px) {
    .main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        column-gap: 10rem;
    }
}

.texto-main{
    color: var(--primario);
    align-self: center;
}

.principal-img img{
    align-self: center;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

/** Listado Servicios **/

.service{
    margin-bottom: 2rem;
}

@media (min-width: 900px) {
    .service{
        margin-bottom: 0;
    }
}

.service img{
    border-radius: 1rem 1rem 0 0;
    height: auto;
    width: 100%;
}

.service a{
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}

.service a:hover{
    color:#fff;
    background-color: var(--secundario);
    border-radius: 0 0 1rem 1rem;
}

@media (min-width: 768px) {
    .list-services{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

.flip-card-inner {
    /*position: relative;*/
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

.service:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.flip-card-back {
    background-color: var(--secundario);
    color: white;
    transform: rotateY(180deg);
}

/** About Us **/

.about-content{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 2rem;
    align-items: center;
}

.about-content img{
    height: auto;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 900px) {
    .about-content{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        column-gap: 2rem;
    }
}

.about-text{
    font-size: 2rem;
    align-self: center;
    color: var(--secundario);
}

@media (min-width: 768px) {
    .about-text{
        font-size:  3rem;
    }
}

.about-container{
    display: grid;
    grid-template-columns: auto auto;
}

.about-container .about-text {
    grid-column: 1/3;
}

.about-container .btn{
    grid-column: 2/3;
    height: 35%;
}

@media (max-width: 1770px) {
    .about-container .btn{
        height:  100%;
    }
}

/** Formulario **/

.contact{
    font-size: 2rem;
    padding-top: 2rem;
    border-top: 1px solid var(--primario);
}

.formulario{
    max-width: 100rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

@media (max-width: 768px) {
    .formulario{
        display: inline;
        grid-template-columns: unset;
        column-gap: 0rem;
    }
}

.formulario fieldset{
    border: 1px solid black;
    margin-bottom: 2rem;
}

fieldset:nth-last-child(4){
    grid-column: 1/3;
}
form .btn{
    grid-column: 1/3;
}

.formulario legend{
    background-color: var(--secundario);
    width: 100%;
    text-align: center;
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    margin-bottom: 2rem;
}

.campo{
    display: flex;
    margin-bottom: 2rem;
}

.campo label{
    flex-basis: 10rem;
}

.campo input:not([type="radio"]), textarea, select{
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}

/** Footer **/

footer{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    border-top: 1px solid var(--primario);
}

.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-nav a{
    display: block;
}

footer p{
    text-align: center;
    font-size: 1.5rem;
}

/** Blog CSS **/

aside ul{
    list-style: none;
}

.blog-container{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.blogs-content{
    padding: 5rem;
    width: 75%;
}

.blog-container aside{
    width: 25%;
}

.btn-blog{
    background-color: var(--secundario);
    display: block;
    color: #fff;
    text-transform: capitalize;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
    border: none;
    width: 20%;
}

.list-menu li{
    padding: 2rem 0rem;
}

